@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap");

:root {
  --primary-color: rgba(137, 132, 132, 0.3);
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(137, 132, 132, 0.7);
  border-radius: 10px;
}

body {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
}

.body {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-padding-top: 25vh;
}

.navbar {
  position: fixed;
  top: 7vh;
  left: 50vw;
  width: 595px;
  height: 55px;
  z-index: 13;
  display: flex;
  justify-content: end;
  padding: 0 20px;
}
.navbar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
  backdrop-filter: blur(5px);
}
.navbar > ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.navbar a:hover {
  color: #ff9933;
}

.container {
  position: absolute;
  top: calc(10vh + 55px);
  width: 100%;
  height: calc(100vh - (10vh + 55px));
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh 100vh auto 100vh;
  grid-template-areas:
    "presentation ."
    ". skills"
    "projects projects"
    "contact contact";
}
.project {
  transform: scale(0.7);
  transition: transform 1s;
}
.project.active {
  transform: scale(1);
}
.presentation {
  height: 360px;
  width: 480px;
  grid-area: presentation;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: right;
  margin-right: 200px;
  padding: 30px;
}

.presentation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
  backdrop-filter: blur(5px);
  clip-path: polygon(
    0 0,
    90% 0,
    100% 22%,
    100% 100%,
    80% 100%,
    50% 100%,
    11% 100%,
    0 82%,
    0% 35%,
    0 12%
  );
}

.name {
  font-size: 2.9rem;
  margin: 45px 0 10px 0;
}

.occupation {
  font-size: 1.2rem;
  color: #ff9933;
}
.greeting > span {
  color: #ff9933;
}
.greeting,
.more-info {
  font-size: 1.3rem;
}
.more-info {
  margin-top: 20px;
}

.skills {
  height: 720px;
  width: 595px;
  background-color: var(--primary-color);
  backdrop-filter: blur(5px);
  font-size: 1.8rem;
  padding: 20px;
  grid-area: skills;
  position: relative;
  justify-self: left;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.skill {
  padding: 25px;
  width: 50%;
}
.skill.color {
  color: #ff9933;
}

.projects {
  width: 990px;
  height: auto;
  grid-area: projects;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.9rem;
  align-self: center;
  justify-self: center;
  padding: 30px;
}
.project {
  width: 100%;
  height: 360px;
  display: flex;
  margin-top: 50px;
}
.project:nth-of-type(1) {
  margin-top: unset;
}
.projectInfo {
  width: 495px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  padding: 30px;
}
.project .projectTitle {
  font-size: 1.9rem;
  margin-bottom: 5px;
}
.project .projectDesc {
  font-size: 1rem;
  margin-bottom: 25px;
}
.project .projectTechStack {
  font-size: 1.2rem;
  text-transform: lowercase;
  list-style: square;
}
.project .projectTechStack li {
  margin-top: 3px;
}
.project .projectSource {
  text-align: end;
  align-items: center;
  font-size: 1.7rem;
}
.project .projectSource a {
  padding: 10px;
  color: inherit;
}
.project .projectTechStack span::after {
  content: " | ";
}
.project .projectTechStack span:last-of-type::after {
  content: "";
}
.projectInfo:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
  backdrop-filter: blur(5px);
  clip-path: polygon(
    0 0,
    90% 0,
    100% 22%,
    100% 100%,
    80% 100%,
    50% 100%,
    11% 100%,
    0 82%,
    0% 35%,
    0 12%
  );
}
.projectThumb {
  width: 495px;
  margin-right: 15px;
}
.project img {
  width: 100%;
}

.contact {
  width: 950px;
  height: 600px;
  grid-area: contact;
  position: relative;
  font-size: 1.9rem;
  align-self: center;
  justify-self: center;
  padding: 30px;
}
.contact:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
  backdrop-filter: blur(5px);
}
.contact form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.3rem;
}
.contact input[type="text"],
.contact input[type="email"] {
  height: 40px;
  width: 50%;
}
.contact textarea {
  height: 150px;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  background-color: rgba(157, 149, 149, 0.5);
  outline: none;
  border: none;
  font-size: inherit;
  padding: 15px;
  color: white;
}
.contact .submit {
  align-self: center;
  background-color: #174cd3;
  padding: 15px 40px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 2px;
}
@media (max-width: 1300px) {
  .presentation {
    margin-right: 100px;
  }
}
@media (max-width: 1150px) {
  .navbar {
    width: 500px;
  }
  .presentation {
    margin-right: 50px;
  }
  .skills {
    width: 500px;
    height: 620px;
    font-size: 1.7rem;
  }
}
@media (max-width: 1000px) {
  .navbar {
    width: 100%;
    top: 10px;
    left: 0;
  }
  .container {
    top: calc(5vh + 55px);
    height: calc(100vh - (5vh + 55px));
    grid-template-columns: 100%;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-areas:
      "presentation"
      "skills"
      "projects"
      "contact";
  }
  .presentation {
    width: 80%;
    justify-self: center;
    margin: 0;
  }
  .skills {
    width: 80%;
    font-size: 1.6rem;
    justify-self: center;
  }
  .projects {
    width: 90%;
    padding: 0;
  }
  .project {
    width: 100%;
  }

  .contact {
    width: 90%;
  }
}

@media (max-width: 550px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .navbar {
    padding: 0 5px;
  }
  .container {
    gap: 90px;
  }
  .presentation {
    width: 100%;
  }
  .skills {
    width: 100%;
    height: 700px;
    font-size: 1.4rem;
    padding: 5px;
  }
  .skill {
    padding: 20px;
  }
  .navbar a {
    font-size: 1.1rem;
  }

  .projects {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .project {
    height: auto;
    flex-direction: column;
  }
  .projectInfo {
    height: auto;
    width: 100%;
    font-size: 1.2rem;
  }
  .project > .projectThumb {
    height: auto;
    width: 100%;
    margin-right: 0;
  }
  .project img {
    width: 100%;
  }

  .contact {
    width: 100%;
    height: 620px;
  }
  .contact input[type="text"],
  .contact input[type="email"] {
    /* height: 40px; */
    width: 100%;
  }
}
